[submodule "src/github.com/baris/ldap"]
	path = src/github.com/baris/ldap
	url = https://github.com/baris/ldap.git
[submodule "src/github.com/baris/asn1-ber"]
	path = src/github.com/baris/asn1-ber
	url = https://github.com/baris/asn1-ber.git
[submodule "src/github.com/gorilla/sessions"]
	path = src/github.com/gorilla/sessions
	url = https://github.com/gorilla/sessions
[submodule "src/github.com/gorilla/securecookie"]
	path = src/github.com/gorilla/securecookie
	url = https://github.com/gorilla/securecookie
[submodule "src/github.com/gorilla/context"]
	path = src/github.com/gorilla/context
	url = https://github.com/gorilla/context
