
h1 {
    left-margin: 2em;
}

table {
    width: 90%;
    margin: 2em;
}

tr:hover {
    background: #cec;
}

td {
    width: 25%;
    max-width: 25%;
    white-space: nowrap;
    table-layout: fixed;
    overflow: hidden;
}
