h1 {
    left-margin: 2em;
}

.table {
    table-layout: fixed;
}

.table td {
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table td.repo_sha {
    width: 10%
}


input {
    position: absolute;
    top: 2em;
    right: 2em;
}
